body {
    color: aliceblue;
    background-color: rgb(80, 55, 55);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(160, 242, 172);
}

.step {
    background-color: rgb(79, 91, 49);
    padding: 16px;
}

input,
select,
button,
textarea {
    font-family: inherit;
}