body {
    color: aliceblue;
    background-color: rgb(80, 55, 55);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(160, 242, 172);
}

.step {
    background-color: rgb(30, 29, 56);
    padding: 16px;
}

input,
select,
button,
textarea {
    font-family: inherit;
}

button {
    background-color: rgb(165, 244, 208);
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(254, 180, 249);
}

section {
    background-color: rgb(30, 29, 56);
    padding: 16px;
    margin-top: 16px;
    border-radius: 6px;
}